.coverage
.python-version
*.egg-info
*.pyc
*.pyo
/.coverage
/.mxmake/
/.project
/.venv/
/.vscode/
/constraints-mxdev.txt
/coverage/
/dist/
/htmlcov/
/node_modules/
/package-lock.json
/pnpm-lock.yaml
/py2/
/py3/
/requirements-mxdev.txt
/sources/
/src/cone.fileupload.egg-info/
/build
/var/
/venv/

