language: python
sudo: false

python:
  - "2.7"
  - "3.5"
  - "3.6"

install:
  - pip install coverage
  - pip install coveralls
  - pip install pyramid==1.9.4
  - |
    if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then
        pip install repoze.zcml==0.4
        pip install repoze.workflow==0.6.1
    else
        pip install repoze.zcml==1.0b1
        pip install repoze.workflow==1.0b1
    fi
  - pip install https://github.com/bluedynamics/node.ext.ugm/archive/master.zip
  - pip install https://github.com/bluedynamics/yafowil/archive/master.zip
  - pip install https://github.com/bluedynamics/cone.tile/archive/master.zip
  - pip install https://github.com/bluedynamics/cone.app/archive/master.zip
  - pip install -e .[test]

script:
  - python -m cone.fileupload.tests
  - coverage run --source src/cone/fileupload -m cone.fileupload.tests
  - coverage report

after_success:
  - coveralls
